.jumbotron{
  /*background-image: url('images/sunset.png');*/
  /*background-size: cover;*/
  background-color: #FFF;
  font-family: 'Raleway';
}

.row{
  font-family: 'Raleway';
}

.btn{
  background: none;
  border-color: #000;
}

.btn:hover{
  background: none;
  border-color: #FFF;
}

body {
    padding-bottom: 10em;
}
